footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .authername{
    font-family: 'Times New Roman', Times, serif;
    color: red;
  }

  .autherEmail{
    font-family: 'Times New Roman', Times, serif;
    
  }

  p.centered{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }


  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .merch{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    text-align: center;
    text-shadow: #000;
    padding-top: 100;
    
  }

  .heros{
    padding-left: 30%;
    color:blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .villans{
    padding-left: 505%;
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .sorting1{
   padding-left: 10%;
   font-family: Arial, Helvetica, sans-serif;
  }

